[package]

name = "skia-bindings"
description = "Skia Bindings for Rust"
homepage = "https://github.com/rust-skia/rust-skia/skia-bindings"
repository = "https://github.com/rust-skia/rust-skia"
readme = "README.md"
keywords = ["skia", "rust-bindings", "vulkan", "opengl", "pdf"]
categories = ["external-ffi-bindings", "graphics", "multimedia::images", "rendering::graphics-api", "visualization"]
license = "MIT"

version = "0.14.4"
authors = ["LongYinan <lynweklm@gmail.com>", "Armin Sander <armin@replicator.org>"]
edition = "2018"
build = "build.rs"
links = "skia"
include = [ "Cargo.toml", "build.rs", "build_support.rs", "build_support/**/*.rs", "src/**/*.cpp", "src/lib.rs", "src/icu.rs" ]

# Metadata used from inside the packaged crate that defines where to download skia and depot_tools archives from.
# Note: use short hashes here because of filesystem path size restrictions.
[package.metadata]
skia = "75c3974"
depot_tools = "a110bf6"

[features]
default = []
vulkan = []
svg = []
shaper = []

[dependencies]

[build-dependencies]
cc = "1.0.35"
# we'd like to reference specific bindgen versions here, because the generated
# bindings are platform dependent and critical to this project.
bindgen = "=0.51.0"

# for downloading and extracting prebuilt binaries and skia / depot_tools archives:
curl = "0.4.22"
flate2 = "1.0.7"
tar = "0.4.26"

# for reading .cargo.vcs_info.json to get the repository sha1 that is used to download
# the matching prebuilt binaries.
serde_json = "1.0.39"
# for reading Cargo.toml from within a package.
toml = "0.5.1"
# for finding python's executable and passing it to gn.
which = "2.0.1"
