[package]

name = "skia-bindings"

description = "Skia Bindings for Rust"
keywords = ["skia", "rust-bindings", "vulkan", "opengl", "pdf", "svg"]
homepage = "https://github.com/rust-skia/rust-skia"
repository = "https://github.com/rust-skia/rust-skia"
license = "MIT"

version = "0.11.1"
authors = ["LongYinan <lynweklm@gmail.com>", "Armin Sander <armin@replicator.org>"]
edition = "2018"
build = "build.rs"
links = "skia"
include = [ "Cargo.toml", "build.rs", "build_support.rs", "build_support/**/*.rs", "src/**/*.cpp", "src/lib.rs" ]

[features]
default = []
vulkan = []
svg = []

[dependencies]

[build-dependencies]
cc = "1.0.35"
bindgen = "0.49.0"

# for downloading and extracting prebuilt binaries:
reqwest = "0.9.16"
flate2 = "1.0.7"
tar = "0.4.24"

# for reading .cargo.vcs_info.json to get the repository sha1 in case we need the full build.
serde_json = "1.0.39"
